<div class="p-2 border rounded">
  <p><strong><%= item.name %></strong> - 数量: <%= quantity %> - ￥<%= price %></p>
  <%= hidden_field_tag "recipet[recipet_items][][item_id]", item.id %>
  <%= hidden_field_tag "recipet[recipet_items][][quantity]", quantity %>
  <%= hidden_field_tag "recipet[recipet_items][][price]", price %>
</div>
